#mainComputerScreen {
  width: 720px;
  height: 720px;
  position: absolute;
}

#canvasDiv {
  width: 265px;
  position: absolute;
  left: 227.5px;
  right: 227.5px;
  top: 350px;
  background-color: black;
}

#computerFrame {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 720px;
  height: 720px;
  z-index: -1;
}

#stand1{
  position: absolute;
  left: 290px;
  top: 720px;
  width: 150px;
  height: 200px;
  
}

#profileName {
  color: rgb(228, 228, 236);
  width: 100%;
  text-align: center;
  position: absolute;
  top: 240px;
  font-family: "Heyam", Heyam;
  font-size: 40px;
  -webkit-text-stroke: 0.3px black;
}

#profileInfo {
  width: 45%;
  margin-left: 4%;
  height: 140px;
  position: absolute;
  bottom: -15px;
  font-family: "AnkhSanctuary";
  font-size: 15px;

}

#personalityIndicator{
  color:rgb(228, 228, 236);
  position: absolute;
  top: 460px;
  left: 172px;
  font-size: 13px;
  font-family: "Heyam";
  -webkit-text-stroke: 0.3px black;
}


#status {
  position: absolute;
  width: 19%;
  top: -95px;
  left: 105px;
  text-align: right;
  font-size: 12px;
}

#info {
  top: -15px;
  width: 130px;
  position: absolute;
  right: -143px;
  width: 78%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#profileInfo>*{
  padding: 10px;
  color: rgb(228, 228, 236);
}


canvas {
  display: block;
}

#mainComputerScreen ul{
  margin: 0px;
  list-style-type: none;
}

li img{
  height: 17px;
}

li {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 5px;
  margin-top: 8px;
}

#liveFrame {
  position: absolute;
  left: 223px;
  width: 274px;
  top: 340px;
  
  z-index: 1;
}

#downloadCanvas{
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 30px;
  bottom: 150px;
  right: 180px;
}
