@font-face {
    font-family: Cormorant;
    src: url("../Cormorant-Regular.ttf");
}

@font-face {
    font-family: CormorantItalic;
    src: url("../Cormorant-Italic.ttf");
}

:root{
    font-family: Cormorant;
}

html{
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 70px;
}

body{
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}

h1{
    font-size: 46px;
    font-weight: 500;
}

h2{
    font-family: CormorantItalic, sans-serif;
    font-size: 20px;
    margin-top: 70px;
    font-weight: 300;
}

h3{
    font-size: 20px;
    font-weight: 300;
}

p{
    margin-top: 0px;
    font-size: 26px;
    font-weight: 500;
}


#info{
    margin-top: 70px;
    
}

#titleDiv{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#titleDiv > * {
    margin:4px;
}

#arrowBottom{
    position: absolute;
    bottom: 30px;
}



